@using Shop_Demo.ViewModels;
@model GoodsViewModel

@using (Html.BeginForm("Index", "Goods", FormMethod.Post, new { @class = "form-inline my-2 my-lg-0 col-6 justify-content-end" }))
{
    <div class="input-group">
        @Html.TextBoxFor(x => x.Search, new { @class = "form-control", placeholder = "Search by name", autocomplete = "off" })
        @*<input type="text" class="form-control" placeholder="Search by name">*@
        <div class="input-group-append">
            <button class="btn btn-success" type="submit">Search</button>
        </div>
    </div>
}
