@using Shop_Demo.ViewModels;
@model ManufacturerViewModel

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow">
        @using (Html.BeginForm("Remove", "Manufacturers", FormMethod.Post))
        {
            <div class="modal-header bg-light">
                <h5 class="modal-title font-weight-bold">Delete manufacturer </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span class="font-weight-bolder">Do you really want to delete the manufacturer ?</span><br /><br />
                ID = @Model.ManufacturerId<br />
                Name = @Model.ManufacturerName<br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        }
    </div>
</div>
